body {
  font-family: "Roboto", sans-serif;
  color: azure;
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-shadow: 8px 8px 10px #0000008c;
  background-color: rgb(46, 64, 82);
}

/* Nav bar styling */
.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(240, 255, 255, 0.573);
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
}

.navbar a {
  padding: 0.5em 0.5em 0.5em 2em;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}

.navbar a:hover {
  color: rgb(142, 184, 151);
}

.navbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin: 0 0 0 40px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(240, 255, 255, 0.579);
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 10%;
}

.openbtn:hover {
  background-color: rgba(142, 184, 151, 0.886);
}

#main {
  transition: margin-left 0.5s;
  padding: 15px;
  position: sticky;
  top: 5px;
  left: 15px;
}

/* footer styling */
#links {
  display: flex;
  background-color: rgba(240, 255, 255, 0.574);
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.external-link {
  margin: 0 15px;
}

.e-link-text {
  color: black;
}
/*  */

/* Responsive styling */
@media (max-width: 768px) {
  .navbar {
    padding-top: 15px;
  }
  .navbar a {
    font-size: 18px;
  }
  #cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .link-card {
    margin: 2em auto;
  }

  .bio-content p {
    font-size: 15px;
    top: 10px;
    bottom: 5px;
  }
}
